language: generic 

sudo: required
services:
  - docker

before_install: 
  - docker build -t dan9393/docker-react -f dockerfile.dev .

script:
  - docker run -e CI=true dan9393/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "eu-west-1"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-eu-west-1-668672625827"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: 
    secure: $AWS_ACCESS_KEY
  secret_access_key: 
    secure: $AWS_SECRET_KEY